root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{c,cc,cpp,cs,css,dart,fs,go,h,hpp,html,java,jl,js,json,jsonc,jsx,kt,less,lua,md,php,ps1,py,r,rb,rs,scss,sh,sql,svelte,swift,tf,toml,ts,tsx,vue,xml}]
indent_style = space
indent_size = 4

[*.{yml,yaml}]
indent_style = space
indent_size = 2
